.centerblock {
  text-align: center
}

footer {
  color: white;
  background-color: #666;
  text-align: center;
  margin-top: 4em;
  padding: 0.5em 0;
  font-size: 80%;
}

.biglogo {
  margin: 2em 0em;
  width: 10%;
}

.logolink {
  vertical-align: middle;
}

.floatAdd {
  float: right;
  margin-right: 2em;
}

.navarea .navbar {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: #444;
  padding: 0.5em 0.5em;
  font-size: 1em;
}

.navarea .navbar .list {
  display: flex;
  justify-content: space-between;
  background-color: #555;
}

.navarea .navbar .list div {
  padding: 0 1em;
}

.navarea .navbanner {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #222;
  padding: 0.5em 0.5em;
  font-size: 1em;
}

.usercard {
  display: flex;
}

.usercard .menu-gone {
  display: none;
}

.usercard .menu {
  display: block;
  position: absolute;
  width: 5em;
  top: 2em;
  right: 2em;
  background-color: #666;
  text-align: center;
}

.usercard .arrowbox{
  margin-top: 0.7em;
  padding: 0 0.2em;
}

.navarea img {
  vertical-align: middle;
}

.navarea a {
  color: white;
  text-decoration: none;
}

.navarea

.littlelogo {
  height: 2em;
  padding: 0 0.2em;
}

#chartZone {
  margin: 1em 1em;
  width: 95%;
  display: flex;
}

#chartZone .legend {
  list-style: none;
  padding: 0;
  margin-top: 2em;
  margin-right: 1em;
  min-width: 4em;
}

.pairtitle {

}

#chart {
  background-color: grey;
}

#exchangeList {
  margin: 0 0;
  padding: 0em 0.5em;
  list-style: none;
}

#exchangeListLive {
  margin-left: 2em;
  width: 15em;
}

#marketList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
}

#marketList a {
  color: blue;
  text-decoration: none;
}

#marketList li {
  margin: 0.2em 0.1em;
  padding: 0.1em 0.1em;
  background-color: #eee;
}

.splash {
  text-align: center;
  margin: auto;
  width: 24em;
}

.splash .catchphrase {
  padding: 1em 0;
}

.splash .steps {
}

.splash form {
  padding: 1em 0;
}

.splash form button {
  display: block;
  margin: auto;
}

.splash input {
  font-size: 1em;
  margin: 0.3em 0;
}

.splash fieldset {
  border: 0;
}

.splash form.disabled {
}

.splash .error {
  color: red;
}

.arrow-down {
  padding: 0 0.1em;
  width: 0;
  height: 0;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;

  border-top: 0.4em solid #888;
}

.signupButton {
  margin: 1em;
}

.flexrow {
  display: flex;
}

.algo-name {
  width: 10em;
}

.item-add .usd {
  width: 3em;
}

.list-row {
  display: flex;
}

.list-row .list-algorithm-algo {
  width: 10em;
}

.list-row .list-algorithm-status {
  width: 10em;
}

.list-row .list-algorithm-exchange {
  width: 10em;
}

.list-schedules {
  background-color: #eee;
  width: 90%;
  margin: auto;
}
